:root {
    /* Color variables */
    --mainTheme: rgba(128, 175, 249, 1);
    --fontColor: rgba(33, 33, 33, 1);
}

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
}

header {
    background-color: var(--mainTheme);
    min-width: 100%;
    padding: 1rem;
    position: fixed;
    top: 0;
}

main {
    min-width: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContent {
    background-color: white;
    min-height: 50%;
    min-width: 50%;
    margin: 2rem;
    display: flex;
    justify-content: space-between;
}

.cuteImage {
    max-width: 70%;
    max-height: 80vh;
}

.factText {
    padding: 1rem;
    width: 30%;
}

.generatorButton {
    height: 2rem;
    padding: 10px;
    display: flex;
    align-items: center;
}

footer {
    background-color: var(--mainTheme);
    min-width: 100%;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--fontColor);
}

a:visited {
    color: var(--fontColor);
}